@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg,rgba(245, 246, 247, 1) 0%, rgba(217, 229, 238, 1) 100%);
  overflow: hidden;
}

#infographic {
  position: relative;
  width: 100%;
  min-height: 300vh;
}

h1{
  position: sticky;
  top: 1rem;
  font-size: 2rem;
  margin: 1rem;
  font-weight: 300;
  color: #1D1E20;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 span{
  font-weight: 700;
  color:#137BB7;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.map-container {
  position: sticky;
  top: 50%;
  /* transform: translateY(-50%); */
  transform: translateY(-43%);
  width: 100%;
  max-width: 45vw;
  height: auto;
  margin: 0 auto;
}

#map {
  width: 100%;
  height: auto;
  display: block;
}

#plane {
  position: absolute;
  top: -18%;
  left: 37%;
  width: 12%;
  height: auto;
}

#boat {
  position: absolute;
  bottom: 12%;
  left: 25%;
  width: 12%;
  height: auto;
}

#rocket {
  position: absolute;
  top: -12%;
  right: 33%;
  width: 2%;
  height: auto;
}

.modal-info {
  position: absolute;
  pointer-events: auto;
}

.modal-rocket {
  width: 100%;
  height: auto;
}

.modal-close {
  height: auto;
  width: 2.5vw;
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 10;
}

.modal-close:hover {
  transform: scale(1.1);
}

.modal-img {
  width: 100%;
  height: auto;
}

.rocket {
  top: -10%;
  right: -10%;
  width: 27%;
} 

.rocket .modal-close {
  top: -12%;
  left: -10%;
}

.plane {
  top: -30%;
  left: -6%;
  width: 33%;
}

.plane .modal-close {
  top: -11%;
  left: -8%;
}

.boat {
  bottom: -7%;
  left: -9%;
  width: 29%;
}

.boat .modal-close {
  bottom: 52%;
  left: -7%;
}

.car {
  bottom: -13%;
  right: 5%;
  width: 39%;
}

.car .modal-close {
  top: -13%;
  left: -8%;
}




.modal-open {
  position: absolute;
  width: 3vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 5;
}

.modal-open:hover {
  transform: scale(1.1);
}

.open-plane {
  top: 16%;
  right: 40%;
}

.open-boat {
  bottom: 22%;
  left: 31%;
}

.open-rocket {
  top: 21%;
  right: 21%;
}

.open-car {
  bottom: 22%;
  right: 44%;
}




#line-drawing-plane {
  position: absolute;
  top: -25%;
  left: 23%;
  width: 17%;
  height: auto;
}

#line-drawing-rocket {
  position: absolute;
  top: -6%;
  left: 66%;
  height: auto;
  width: 18%;
}

#line-drawing-boat {
  position: absolute;
  scale: -1;
  bottom: 24%;
  left: 18%;
  height: auto;
  width: 10%; 
}



#circle-boat-1{
  position: absolute;
  bottom: 22.5%;
  left: 19.2%;
  z-index: 2;
  width: 2%;
  height: 4%;
}

#circle-boat-2{
  position: absolute;
  bottom: 22.5%;
  left: 27%;
  z-index: 2;
  width: 2%;
  height: 4%;
}


#circle-plane-1{
  position: absolute;
  top: -27%;
  left: 26%;
  z-index: 2;
  width: 2%;
  height: 4%;
}

#circle-plane-2{
  position: absolute;
  top: -5%;
  left: 39%;
  z-index: 2;
  width: 2%;
  height: 4%;
}

#circle-rocket-1{
  position: absolute;
  top: -7.7%;
  right: 16.2%;
  z-index: 0;
  width: 2%;
  height: 4%;
}

#circle-rocket-2{
  position: absolute;
  top: -7.7%;
  right: 33%;
  z-index: 2;
  width: 2%;
  height: 4%;
}